body {
 max-width: 980px;
 margin: 0 auto;
}

@media screen and (min-width:1000px) {
    body { 
	position: relative;
}
}

@media screen and (min-width:501px) and (max-width:999px) {
    body { 
	position: absolute;
}
}

@media screen and (max-width:500px) {
    body { 
	position: absolute;
}
}

form {
	text-align: center;
}

input[type="text"], input[type="email"]{
	padding: .6180469716em;
    background-color: white;
	border-radius: 30px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.125);
    border: 0;
    font-size: 17pt;
    text-align: left;
    color: #e01862;
    font-family: Arial, Helvetica, sans-serif !important;
    margin-bottom: 5px;
    width: 85%;
    height: 36px;
}

@media screen and (min-width:501px) and (max-width:999px) {
input[type="text"], input[type="email"] { 
	padding: .6180469716em;
    background-color: white;
    border-radius: 30px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.125);
    border: 0;
    font-size: 30pt;
    text-align: left;
    color: #e01862;
    font-family: Arial, Helvetica, sans-serif !important;
    margin-bottom: 5px;
    width: 85%;
    height: 77px;
}
}

input#submit {
	background: white;
    color: gray;
    height: 64px;
    width: 55%;
    border: none;
    border-radius: 50px;
    font-size: 17px;
}

input#submit:hover {
	cursor:pointer;
}

@media screen and (min-width:501px) and (max-width:999px) {
input#submit { 
    background: white;
    color: gray;
    width: 89%;
    border: none;
    border-radius: 27px;
    font-size: 48px;
    height: 133px;
}
}

.header {
	height: 170px;
	background: white;
}

.image {
	float: left;
	width: 50%;
	text-align: center;
	padding: 6.9% 0;
	
}

@media screen and (min-width:501px) and (max-width:999px) {
.image { 
	float: left;
    width: 50%;
    text-align: center;
    padding: 2.9% 0;
}
}

.phone {
	float: right;
	width: 50%;
	text-align: center;
	padding: 11% 0;
}

@media screen and (min-width:501px) and (max-width:999px) {
.phone { 
	float: right;
    width: 50%;
    text-align: center;
    padding: 7% 0;
}
}

.number {
	background-color: #e40a78;
	height: 85px;
	width: 360px;
	margin: auto;
	border-radius: 80px;
	font-size: 36pt;
    font-family: 'Anton', sans-serif;
	line-height: 1.8em;
	color: white;
}
.vadim1 {
	height: 630px;
	width: 490px;
	background-color: #e40a78;
	float: left;
}


@media screen and (min-width:501px) and (max-width:999px) {
    .vadim1  { 
	float: none;
	width: 100%;
}
}

.vadim1 h1 {
	text-align: center;
	display: block;
	color: white;
	font-family: 'Anton', sans-serif;
	font-size: 48pt;
	line-height: 56pt;
	font-weight: lighter;
	margin-top: 37px;
}


@media screen and (min-width:501px) and (max-width:999px) {
    .vadim1 h1 { 
	padding-top: 35px;
}
}

.vadim1 h2{
	text-align: center;
	display: block;
	color: white;
	font-family: 'Anton', sans-serif;
	font-size: 117pt;
	line-height: 122pt;
	margin: 0px;
	
}

.vadim1 h3 {
	text-align: center;
	color: white;
	display: block;
	font-size: 52pt;
	line-height: 50pt;
	font-weight: lighter;
	font-family: 'Anton', sans-serif;
	margin: 0px;
}

.vadim2 {
	float: right;
	height: 630px;
	width: 490px;
}

@media screen and (min-width:501px) and (max-width:999px) {
    .vadim2 { 
	float: none;
	height: 76%;
	width: 100%
}
}


.vadim-main {
	height: 100vh;
	width: 100%;
	margin: 0px;
	
}
.vadim3 {
	float: left;
	height: 600px;
	width: 490px;
	background: white;
}

@media screen and (min-width:501px) and (max-width:999px) {
    .vadim3 { 
	float: none;
	height: 513px;
    width: 100%;
}
}

.vadim3 h4{
	color: #e40a78;
	text-align: center;
    display: block;
    font-size: 57pt;
    line-height: 0pt;
    font-weight: lighter;
    font-family: 'Anton', sans-serif;
}

.vadim3 h3{
	color: #e40a78;
	text-align: center;
    display: block;
	font-family: 'Anton', sans-serif;
    font-size: 37pt;
    line-height: 50pt;
    font-weight: lighter;
    margin-top: 37px;
}
.vadim4 {
	background-color: #e40a78;
	float: right;
	height: 600px;
	width: 490px;
}

@media screen and (min-width:501px) and (max-width:999px) {
    .vadim4 { 
	float: none;
	height: 1015px;
    width: 100%;
    padding-top: 1px;
}
}

.vadim4 h1 {
	text-align: center;
    display: block;
    color: white;
    font-family: 'Anton', sans-serif;
    font-size: 27pt;
    line-height: 40pt;
    font-weight: lighter;
    margin-top: 28px;
}

@media screen and (min-width:501px) and (max-width:999px) {
    .vadim4 h1 { 
    text-align: center;
    display: block;
    color: white;
    font-family: 'Anton', sans-serif;
    font-size: 51pt;
    line-height: 53pt;
    font-weight: lighter;
    margin-top: 40px;
}
}

.vadim5 {
	float: left;
	height: 630px;
	width: 490px;
}

@media screen and (min-width:501px) and (max-width:999px) {
    .vadim5 { 
	float: none;
	height: 1105px;
    width: 100%;
}
}

.vadim6 {
	background-color: white;
	float: right;
	height: 630px;
	width: 490px;
}

@media screen and (min-width:501px) and (max-width:999px) {
    .vadim6 { 
	float: none;
    width: 100%;
	height: 453px;
}
}

.vadim6 h3{
	color: #e40a78;
    text-align: center;
    display: block;
    font-family: 'Anton', sans-serif;
    font-size: 37pt;
    line-height: 50pt;
    font-weight: lighter;
    margin-top: 82px;
}
.vadim7 {
	background-color: white;
	float: left;
	height: 534px;
	width: 980px;
}

@media screen and (min-width:501px) and (max-width:999px) {
    .vadim7 { 
	background-color: white;
    float: left;
    height: 689px;
    width: 980px;
	margin-bottom: 55px;
}
}

.vadim7 p{
	font-size: 25pt;
    font-family: sans-serif;
	text-align: center;
    margin: 77px 45px;
	}
	
@media screen and (min-width:501px) and (max-width:999px) {
    .vadim7 p { 
	font-size: 30pt;
    font-family: sans-serif;
    text-align: center;
    margin: 77px 45px;
}
}

.vadim8 {
	background-color: #e40a78;
	float: left;
	height: 140px;
	width: 980px;
}

@media screen and (min-width:501px) and (max-width:999px) {
    .vadim8 { 
	background-color: #e40a78;
    float: left;
    height: 172px;
    width: 980px;
	display: block;
}
}

.vadim8 h2 {
	text-align: center;
    color: white;
    display: block;
    font-size: 36pt;
    line-height: 50pt;
    font-weight: lighter;
    font-family: 'Anton', sans-serif;
    margin: 37px 0px;
}

@media screen and (min-width:501px) and (max-width:999px) {
    .vadim8 h2 { 
	text-align: center;
    color: white;
    display: block;
    font-size: 36pt;
    line-height: 50pt;
    font-weight: lighter;
    font-family: 'Anton', sans-serif;
    margin: 54px 0px;
}
}

.vadim9 {
	float: left;
	height: 545px;
	width: 980px;
}
.vadim10 {
	background-color: #e40a78;
	height: 140px;
	width: 980px;
	float: left;
}

@media screen and (min-width:501px) and (max-width:999px) {
    .vadim10 { 
	background-color: #e40a78;
    float: left;
    height: 162px;
    width: 980px;
	display: block;
}
}

.vadim10 h2{
	text-align: center;
    color: white;
    display: block;
    font-size: 36pt;
    line-height: 50pt;
    font-weight: lighter;
    font-family: 'Anton', sans-serif;
    margin: 37px 0px;	
}
.vadim11 {
	float: left;
	height: 490px;
	width: 490px;
}
.vadim12 {
	float: right;
	height: 490px;
	width: 490px;
}
.vadim13 {
	float: left;
	height: 490px;
	width: 490px;
}
.vadim14 {
	float: right;
	height: 490px;
	width: 490px;
}
.vadim15 {
	float: left;
	height: 140px;
	width: 980px;
	background-color: #e40a78;
}

@media screen and (min-width:501px) and (max-width:999px) {
    .vadim15 { 
	float: left;
    height: 224px;
    width: 980px;
    background-color: #e40a78;
}
}

.vadim15 h2 {
    text-align: center;
    color: white;
    display: block;
    font-size: 36pt;
    line-height: 42pt;
    font-weight: lighter;
    font-family: 'Anton', sans-serif;
    margin: 14px 0px;	
}

@media screen and (min-width:501px) and (max-width:999px) {
    .vadim15 h2 { 
	text-align: center;
    color: white;
    display: block;
    font-size: 36pt;
    line-height: 42pt;
    font-weight: lighter;
    font-family: 'Anton', sans-serif;
    margin: 56px 0px;  
}
}

.vadim16 {
	float: left;
	height: 625px;
	width: 980px;
}
.vadim17 {
	background-color: #e40a78;
	float: left;
	height: 140px;
	width: 980px;
}

@media screen and (min-width:501px) and (max-width:999px) {
    .vadim17 { 
	background-color: #e40a78;
    float: left;
    height: 224px;
    width: 980px;  
}
}

.vadim17 h2 {
    text-align: center;
    color: white;
    display: block;
    font-size: 36pt;
    line-height: 42pt;
    font-weight: lighter;
    font-family: 'Anton', sans-serif;
    margin: 14px 0px;	
}

@media screen and (min-width:501px) and (max-width:999px) {
    .vadim17 h2 { 
	text-align: center;
    color: white;
    display: block;
    font-size: 36pt;
    line-height: 42pt;
    font-weight: lighter;
    font-family: 'Anton', sans-serif;
    margin: 56px 0px; 
}
}


.vadim18 {
	float: left;
	height: 485px;
	width: 490px;
}
.vadim19 {
	float: right;
	height: 485px;
	width: 490px;
}
.vadim20 {
	background-color: #e40a78;
	float: left;
	height: 720px;
	width: 980px;
}

@media screen and (min-width:501px) and (max-width:999px) {
    .vadim20 { 
	background-color: #e40a78;
    float: left;
    height: 1272px;
    width: 980px;
}
}

.vadim20 h2 {
	color: white;
    text-align: center;
    display: block;
    font-family: 'Anton', sans-serif;
    font-size: 28pt;
    line-height: 38pt;
    font-weight: lighter;
    margin-top: 58px;
    margin-bottom: 45px;
}

@media screen and (min-width:501px) and (max-width:999px) {
    .vadim20 h2 { 
    color: white;
    text-align: center;
    display: block;
    font-family: 'Anton', sans-serif;
    font-size: 47pt;
    line-height: 56pt;
    font-weight: lighter;
    margin-top: 80px;
    margin-bottom: 45px;
}
}

.vadim20 input{
	width: 42%;
}

@media screen and (min-width:501px) and (max-width:999px) {
    .vadim20 input { 
	width: 85%;
}
}

.vadim20 input#submit-vadim {
	background: white;
    color: gray;
    height: 64px;
    width: 29%;
    border: none;
    border-radius: 50px;
    font-size: 17px;
}

.vadim20 input#submit-vadim:hover {
	cursor:pointer;
}

@media screen and (min-width:501px) and (max-width:999px) {
.vadim20 input#submit-vadim { 
    background: white;
    color: gray;
    width: 89%;
    border: none;
    border-radius: 27px;
    font-size: 48px;
    height: 133px;
}
}

.vadim21 {
	background-color: white;
	float: left;
	height: 56px;
	width: 980px;
}

@media screen and (min-width:501px) and (max-width:999px) {
    .vadim21 { 
	background-color: white;
    float: left;
    height: 105px;
    width: 980px;
}
}

.vadim21 p {
	text-align: center;
    font-family: sans-serif;
    line-height: 29px;	
}

@media screen and (min-width:501px) and (max-width:999px) {
    .vadim21 p { 
	text-align: center;
    font-family: sans-serif;
    line-height: 34px;
    font-size: 28pt;
}
}